In [1]:
!pip install numpy
!pip install pandas
!pip install -U arrow

Requirement already satisfied: numpy in c:\users\sunni\anaconda3\lib\site-packages (1.18.1)

In [13]:
!pip install -U scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-0.23.1-cp37-cp37m-win_amd64.whl (6.8 MB)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in c:\users\sunni\anaconda3\lib\site-packages (from scikit-learn) (1.18.1)
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-2.1.0-py3-none-any.whl (12 kB)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in c:\users\sunni\anaconda3\lib\site-packages (from scikit-learn) (0.14.1)
Requirement already satisfied, skipping upgrade: scipy>=0.19.1 in c:\users\sunni\anaconda3\lib\site-packages (from scikit-learn) (1.4.1)
Installing collected packages: threadpoolctl, scikit-learn
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 0.22.1
    Uninstalling scikit-learn-0.22.1:
      Successfully uninstalled scikit-learn-0.22.1
Successfully installed scikit-learn-0.23.1 threadpoolctl-2.1.0

In [2]:
import pandas as pd
import numpy as np
import arrow
from collections import Counter

In [3]:
df = pd.read_csv("C:/Users/Sunni/vacs_train.csv", sep = ';', index_col=False)
df.head()

,index,id,name,name.lemm,area.name,city,company.id,company,company_link,publication_date,...,schedule,schedule.name,experience,experience.name,key_skills,specializations,specializations.names,description,description.lemm,type
0,0,17686451,Менеджер по туризму,менеджер туризм,Санкт-Петербург,Санкт-Петербург,605490,"007, центр услуг",https://hh.ru/employer/605490,2016-08-21T14:52:35+0300,...,fullDay,Полный день,between1And3,От 1 года до 3 лет,NaN,17.334 17.242 17.149 22.223 22.39 22.199,Продажи - Услуги для населения | Продажи - Пря...,Обязанности: Работа с туристами (физические и...,обязанность работа турист физический юридическ...,train
1,1,17840390,Помощник руководителя,помощник руководитель,Санкт-Петербург,unknown,605490,"007, центр услуг",https://hh.ru/employer/605490,2016-08-21T14:28:29+0300,...,fullDay,Полный день,between1And3,От 1 года до 3 лет,NaN,4.205 4.429 6.319 6.247 2.249,Административный персонал - Персональный ассис...,Вакансия открыта в рамках отдела строительно-о...,вакансия открывать рамка отдел строительный от...,train
2,3,17665840,Аналитик,аналитик,Санкт-Петербург,unknown,605490,"007, центр услуг",https://hh.ru/employer/605490,2016-08-19T11:57:57+0300,...,fullDay,Полный день,between1And3,От 1 года до 3 лет,NaN,1.117 1.327 1.25,"Информационные технологии, интернет, телеком -...",Обязанности: Работа в рамках отдела корпорати...,обязанность работа рамка отдел корпоративный п...,train
3,4,17914658,Авиакассир,авиакассир,Санкт-Петербург,Санкт-Петербург,605490,"007, центр услуг",https://hh.ru/employer/605490,2016-07-29T16:17:47+0300,...,shift,Сменный график,between1And3,От 1 года до 3 лет,NaN,22.11 21.12 17.334,"Туризм, гостиницы, рестораны - Авиабилеты | Тр...",Обязанности: Бронирование и выписка авиабилет...,обязанность бронирование выписка авиабилет сис...,train
4,5,17665632,Бухгалтер,бухгалтер,Санкт-Петербург,Санкт-Петербург,605490,"007, центр услуг",https://hh.ru/employer/605490,2016-07-18T15:39:05+0300,...,fullDay,Полный день,between3And6,От 3 до 6 лет,NaN,2.43 2.335 2.463 2.337 2.469 5.42,"Бухгалтерия, управленческий учет, финансы пред...",Обязанности: Ведение бухгалтерского и налогов...,обязанность ведение бухгалтерский налоговый уч...,train

In [10]:
def Clusterization(X):  
    km = KMeans(n_clusters = 10, random_state = 42)
    clusters_train = km.fit_predict(X)
    km.fit(X)
    x = km.predict(y)
    return x
def preproc(df):
    #df.loc[df.city == 'unknown', 'city'] = 'Санкт-Петербург'
    df.loc[df.salary_from < 100., "salary_from"] *= 1000
    df.fillna(value='', inplace=True)
    df = pd.get_dummies(df,columns = ['experience', 'schedule', 'employment'])
    df['key_skills'] = df['key_skills'].apply(lambda x: 0 if(x == '') else len(x.split('|')) + 1)
    df = df.drop(columns = ['name.lemm','publication_date','area.name', 'id', 'city','name','employment.name','company_link','type','salary_currency', 'schedule.name', 'experience.name', 'description','company','company.id', 'specializations.names'])
    #word2vec
    #df['cluster'] = Clusterization(df.loc[:['name.lemm','salary_from']])
    return df

In [11]:
df = preproc(df)

In [12]:
df.head()

,index,name.lemm,salary_from,key_skills,specializations,description.lemm,experience_between1And3,experience_between3And6,experience_moreThan6,experience_noExperience,schedule_flexible,schedule_flyInFlyOut,schedule_fullDay,schedule_remote,schedule_shift,employment_full,employment_part,employment_probation,employment_project
0,0,менеджер туризм,40000.0,0,17.334 17.242 17.149 22.223 22.39 22.199,обязанность работа турист физический юридическ...,1,0,0,0,0,0,1,0,0,1,0,0,0
1,1,помощник руководитель,40000.0,0,4.205 4.429 6.319 6.247 2.249,вакансия открывать рамка отдел строительный от...,1,0,0,0,0,0,1,0,0,1,0,0,0
2,3,аналитик,30000.0,0,1.117 1.327 1.25,обязанность работа рамка отдел корпоративный п...,1,0,0,0,0,0,1,0,0,1,0,0,0
3,4,авиакассир,30000.0,0,22.11 21.12 17.334,обязанность бронирование выписка авиабилет сис...,1,0,0,0,0,0,0,0,1,1,0,0,0
4,5,бухгалтер,25000.0,0,2.43 2.335 2.463 2.337 2.469 5.42,обязанность ведение бухгалтерский налоговый уч...,0,1,0,0,0,0,1,0,0,1,0,0,0

'Бухгалтерия, управленческий учет, финансы предприятия - Бухгалтер | Бухгалтерия, управленческий учет, финансы предприятия - Учет заработной платы | Бухгалтерия, управленческий учет, финансы предприятия - Бухгалтер-калькулятор | Бухгалтерия, управленческий учет, финансы предприятия - Учет счетов и платежей | Бухгалтерия, управленческий учет, финансы предприятия - Первичная документация | Банки, инвестиции, лизинг - Бухгалтер'

In [ ]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

for i in range(len(df)):
    s = df['specializations'][i]
    arr = np.append(values = list(map(int,map(float, s.split()))), arr = arr)

In [ ]:
arr = np.array([])
df[i].apply(lambda x: arr = np.append(values = list(map(int,map(float, x.split()))), arr = arr))

In [ ]:
arr = np.unique(arr)
label_encoder = LabelEncoder()
corpus_encoded = label_encoder.fit_transform(arr)

In [23]:
onehot_encoder = OneHotEncoder(sparse=False)
corpus_encoded = corpus_encoded.reshape(len(corpus_encoded), 1)
onehot_encoder.fit(corpus_encoded)

OneHotEncoder(sparse=False)

In [26]:
a = np.array(list(map(int, map(float, df['specializations'][0].split()))))
a = a.reshape(len(a), 1)
onehot_encoder.transform(a)

ValueError: Found unknown categories [17, 22] in column 0 during transform

In [28]:
arr

array([2., 5.])

In [154]:
Counter(df[df['salary_from'] < 4000]['schedule'])

Counter({'shift': 32, 'fullDay': 39, 'flexible': 34, 'remote': 7})

In [9]:
Counter(df['experience'])

Counter({'between1And3': 52010,
         'between3And6': 18208,
         'noExperience': 27513,
         'moreThan6': 2270})

In [45]:
df['key_skills'][0] == 'nan'

False

In [19]:
s = '2.43 2.335 2.463 2.337 2.469 5.42' 
a =

In [29]:
arr = np.array([])
for i in range(len(df)):
    arr = np.append(values = list(map(int,map(float, s.split()))), arr = arr)

In [ ]:
arr[10]